{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Upload File TEST</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Upload a Python File TEST</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
        <a href="{% url 'file_list' %}">View Uploaded Files</a>
    </div>
</body>
</html>
